.list {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.button {
  padding: 5px 10px;
  border: 2px solid #d8d3d3;
  border-radius: 5px;

  background-color: #fff;

  font-weight: 500;
  text-transform: capitalize;

  transition: all 250ms linear;

  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #e7a80a;
    color: #000;
    transition: all 250ms linear;
  }
}
